.footer-flame{
    background-color: #6c6c6c; 
    font-size: 14px;
    display:flex;
    background-size:  100% 300px;
    padding: 2em 0;
    text-align: center;
}

.footer-flame img{
    width: 120px;
    height: 60px;
    margin: 60px;
    padding-right: 500px;
}

.M li{
    color: #FFFEFE;
    font-size: 20px;
    display: inline-block;
    padding-top: 60px;
    padding-right: 2em;
    list-style: none; 
    
}
.C{
    font-size: 15px;
    margin-top: 150px;
    margin-left: -600px;

    
}
